.imglogo{
    width: auto;
    height: auto;
}

.header ul{
    list-style: none;
    float: left;
    margin-left: 30px;
}

.header{
    padding: o 30px;
}

.header .imglogo{
    float: left;
}
li{
    float: right;
}

