.header ul{
    list-style: none;
    float: left;
    margin-left: 30px;
}
.img1{
    width: 100%;
    position: relative;
}


.header{
    display: block;
    padding: o 30px;
    background-color: blueviolet;
    position: relative;
    top: 10px;
    left: 10px;
}

.header .imglogo{
    float: left;
    width: 20%;
}
li{
    float: right;
}
.coment{
    display: block;
    margin: 0 auto;
}
.product{
    display: inline-block;
    width: 60%;
    margin: 0 auto;
}
.product2{
    display: inline-block;
    width: 30%;
}

