.header ul{
    list-style: none;
    float: left;
    margin-left: 30px;
}
.img1{
    width: 100%;
}

.header{
    display: block;
    padding: o 30px;
}

.header .imglogo{
    float: left;
}
li{
    float: right;
}
.coment{
    display: inline-block;
    text-align: center;
}
.product{
    display: inline-block;
    text-align: center;
}
.product2{
    display: inline-block;
    width: 30%;

}

